:root {
	font-size: 3vmin;
}

body {
	min-height: 100vh;

	background-color: #eeeeee;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	gap: 1rem;
}

* {
	padding: 0;
	margin: 0;
}

#hangman {
	height: 50vmin;
}

#hangman * {
	visibility: hidden;
}

#hangman *.visible {
	visibility: visible;
}

#gueses,
#word,
#tip {
	min-height: 1.5rem;
}

#gueses {
	color: #ccc;
	font-weight: bold;
}

#gueses > .highlight {
	color: #f66;
}

#word {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#word > * {
	min-width: 1.2rem;
	min-height: 1.5rem;

	text-align: center;
	line-height: 1.5rem;
	font-weight: bold;

	background-color: #e0e0e0;
	border-bottom: solid 0.1rem #000;
}

#word > *.highlight,
.win #word > * {
	background-color: #9f9;
}

.lose #word > * {
	background-color: #f99;
}

#tip {
	color: #ccc;
	font-weight: bold;
}
