body {
	min-height: 100vh;
	padding: 0;
	margin: 0;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

svg {
	width: 50vmin;
}

#gueses,
#word {
	display: flex;
	flex-flow: row wrap;
}
