:root {
	font-size: 2vmin;
}

body {
	padding-block: 5rem;
	min-height: 100vh;

	background-color: #f2c62a;

	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;

	gap: 5rem;
}

* {
	margin: 0;
	padding: 0;
}

label,
input {
	display: block;
	font-size: 1em;
	box-sizing: border-box;
	width: 100%;
}

input {
	border: #888 solid 0.1rem;
	border-radius: 0.25rem;
}

input[type="color"] {
	height: 2rem;
}

input[type="number"],
input[type="text"] {
	padding: 0.25rem;
}

#analog-clock {
	width: 30rem;
	height: 30rem;
}

#settings {
	padding: 1rem;
	box-sizing: border-box;
	max-width: 40rem;

	background-color: #fff;
	border-radius: 0.5rem;

	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;

	gap: 1rem;
}

#settings > h1,
#settings > h2,
#settings > h3,
#settings > h4,
#settings > h5,
#settings > h6 {
	width: 100%;
	text-align: center;
}

#settings > section {
	max-width: 30%;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-rows: auto;
	align-items: center;
	gap: 0.5rem;
}

#settings > section > h1,
#settings > section > h2,
#settings > section > h3,
#settings > section > h4,
#settings > section > h5,
#settings > section > h6 {
	grid-column: 1 / span 2;
	text-align: center;
}

#settings > section > label {
	grid-column: 1 / span 1;
	text-align: right;
}

#settings > section > input {
	grid-column: 2 / span 1;
}
