#playlist {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
	padding-right: 0.4rem;

	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--display-color) var(--display-background);
}

#playlist * {
	user-select: none;
}

#playlist::-webkit-scrollbar {
	width: 0.25rem;
}

#playlist::-webkit-scrollbar-track {
	width: 0.25rem;
	background: var(--display-background);
}

#playlist::-webkit-scrollbar-thumb {
	width: 0.25rem;
	background: var(--display-color);
	border-radius: 0.125rem;
}

#playlist::-webkit-scrollbar-thumb:hover {
	background: var(--display-color);
}

#playlist h1 {
	position: relative;
	width: 100%;

	margin: 0 0 0.25rem 0;
	padding: 0 0 0.25rem 0;

	font-weight: 400;
	text-align: center;
}

#playlist h1::after {
	content: "";
	position: absolute;
	left: 0.4rem;
	right: 0;
	bottom: 0;
	height: var(--display-border);

	background-color: var(--display-color);
	border-radius: calc(var(--display-border) / 2);
}

#playlist li {
	height: 1.75rem;
	min-height: 1.75rem;
	margin: 0.1rem 0.5rem;
	padding: 0.2rem;

	border: var(--display-background) solid var(--display-border);
	border-radius: 0.5rem;

	display: flex;
	flex-direction: row;
	align-items: center;

	cursor: pointer;
}

#playlist li * {
	margin: 0;
	padding: 0;
}

#playlist li .number {
	min-width: 1.5rem;
	text-align: center;
}

#playlist li .name {
	flex-grow: 1;
	margin-inline: 0.25rem;
	text-align: left;
}

#playlist li .length {
	min-width: 1.5rem;
	margin-right: 0.25rem;
	text-align: right;
}

#playlist li .number .play {
	display: none;
}

#playlist li .number .pause {
	display: none;
}

#playlist li:hover {
	border-color: var(--display-color);
}

#playlist li:hover .index {
	display: none;
}

#playlist li#playing {
	color: var(--display-background);
	background-color: var(--display-color);
}

#playlist li#playing .index {
	display: none;
}
#playlist li#playing .name {
	font-weight: 1000;
}

#playlist li#playing .number .play {
	display: block;
}

#playlist li:hover:not(#playing) .number .pause {
	display: block;
}
