#background {
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;

	/* License: Free to use */
	background-image: url("image1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	filter: brightness(50%) blur(0.25rem);
}

.material-icons {
	font-size: 1.5rem;

	margin: 0;
	padding: 0;

	color: #2f3e54;

	text-align: center;

	user-select: none;
}

.material-icons.active {
	color: #fefefe;
}

button {
	background-color: transparent;
	border: none;

	cursor: pointer;
}

img {
	display: block;
}

p {
	margin: 0;
	padding: 0.25rem;
}

small {
	font-size: 0.85em;
	font-weight: lighter !important;
}

body {
	position: relative;

	margin: 0;
	min-height: 100vh;
	min-width: 100vw;

	color: #fefefe;
	background-color: #444;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	font-family: "Montserrat", sans-serif;
	text-align: center;
}

#player {
	width: 40rem;
	height: 40rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 1fr;

	grid-column-gap: 0.25rem;
	grid-row-gap: 0.25rem;

	grid-template-areas:
		"header	header"
		"aside	main";
}

#player > * {
	box-shadow: #0008 0 0 0.5rem;
	border-radius: 0.25rem;
}

#player > header {
	grid-area: header;

	padding: 0.5rem 1rem;

	background-color: #17263ebb;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#player > aside {
	grid-area: aside;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;

	overflow-y: scroll;
	scrollbar-color: #fefefe #17263e;
	scrollbar-width: thin;
}

#player > aside::-webkit-scrollbar {
	width: 0.25rem;
}

#player > aside::-webkit-scrollbar-thumb {
	background: #fefefe;
}

#player > aside::-webkit-scrollbar-track {
	background: #17263e;
}

#player > aside > ol {
	margin: 0;
	padding: 0;
}

#player > aside > ol > li:not(:last-child) {
	border-bottom: #122339 solid 0.2rem;
}

#player > aside > ol > li::marker {
	display: none;
}

#player > aside > ol > li > button {
	width: 100%;
	height: 6rem;
	max-height: 6rem;
	padding: 1rem 1.5rem;

	color: #fefefe;
	background-color: #17263e;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#player > aside > ol > li > button.playing {
	background-color: #17263eaa;
}

#player > aside > ol > li > button.playing *.material-icons {
	color: #fefefe !important;
}

#player > aside > ol > li > button > img {
	height: 100%;
}

#player > aside > ol > li > button > p {
	flex-grow: 1;

	margin: 0 0.5rem;

	text-align: left;
}

#player > main {
	grid-area: main;

	padding: 1rem;

	background: #17263e;
	background: linear-gradient(0deg, #17263eff 0%, #17263e88 100%);

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

#player > main > img {
	width: calc(100% - 2rem);
	margin: 1rem;
}

#player > main > div {
	flex-grow: 1;

	margin-top: 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

#player > main > div > nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

#player > main > div > nav > nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.fast-rewind,
.fast-forward {
	font-size: 2.5rem;
}

.play-circle {
	font-size: 3rem;
}
