@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html {
	--blue: #0c43af;
	--yellow: #ffd600;
	--background: #424242;
	--gray-1: #e1dede;
	--gray-2: #c4c4c4;
	--gray-3: #8e8e8e;
	--gray-4: #535556;
	--gray-5: #444444;
	--green-gray: #748687;

	font-size: 2vmin;
	font-family: "Ropa Sans", sans-serif;
	color: var(--gray-5);
}

body {
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

h1,
h2 {
	color: var(--yellow);
}

a {
	color: var(--yellow);
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
	outline: none;
}

button {
	line-height: 1em;
	background: none;
	border: none;
	outline: none;
}

body {
	background-color: var(--background);

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	background-image: url("./background.svg");
	background-position: top;
}

body > header {
	padding: 3.7rem;

	box-shadow: 0 0 1rem #000;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	background-image: url("header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body > main {
	margin-top: -5rem;
	padding-bottom: 5rem;
	flex-grow: 1;

	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
	gap: 0 4rem;
}

body > main > article {
	width: 26.5rem;
	height: 34.5rem;
	margin: 2rem;

	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
	box-shadow: 0 0 1rem #0008;

	display: flex;
	flex-flow: column nowrap;
}

body > main > article > header {
	padding: 1rem;

	background-color: var(--gray-4);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;

	text-align: center;
}

body > main > article > main {
	position: relative;
	flex-grow: 1;
	background-color: var(--gray-2);
}

body > main > article > footer {
	padding: 0.25rem;

	background-color: var(--gray-2);

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#list > footer {
	font-size: 1.7rem;
	font-family: "Roboto", sans-serif;
}

#prev-page,
#next-page {
	display: inline-block;

	padding-inline: 0.5rem;
	transition: padding 0.1s ease-in-out;
}

#prev-page:hover,
#prev-page:focus {
	padding-inline: 0 1rem;
}

#next-page:hover,
#next-page:focus {
	padding-inline: 1rem 0;
}

#list ul {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	list-style-type: none;
}

#list ul > li > button {
	width: 100%;
	padding: 0.5rem 1rem;

	font-size: 1.3rem;
	text-align: left;

	transition: padding-left 0.1s ease-in-out;
}

#list ul > li:nth-child(2n) > button {
	color: var(--gray-5);
	background-color: var(--gray-1);
}

#list ul > li:nth-child(4n - 1) > button {
	color: var(--gray-1);
	background-color: var(--gray-4);
}

#list ul > li:nth-child(4n + 1) > button {
	color: var(--gray-1);
	background-color: var(--gray-3);
}

#list ul > li > button:hover,
#list ul > li > button:focus {
	padding-left: 2rem;
}

#list ul > li > button.selected {
	padding-left: 2rem;

	color: var(--gray-5);
	background-color: var(--yellow);
}

#info > header {
	background-color: var(--green-gray);
}

#info > main {
	display: grid;
	grid:
		"character-info" 1fr
		"home-planet" 1fr
		/ 1fr;
}

#info > main > * {
	position: relative;
	padding: 1rem 1rem;

	flex-grow: 1;
}
#info > main p {
	margin-block: 0.5rem;
	margin-left: 1rem;
}

#info > main ul,
#info > main il {
	margin-block: 0.5rem;
	margin-left: 3rem;
}

#info > main table {
	margin-left: 1rem;
}

#info > main table th {
	padding: 0.1rem;
}

#info > main table th:first-child {
	text-align: right;
}
#info > main table th:last-child {
	text-align: left;
}

#character-info {
	grid-area: character-info;
}

#character-info a {
	color: var(--blue);
}

#home-planet {
	grid-area: home-planet;

	color: var(--gray-1);
	background-color: var(--gray-3);
}

#home-planet .loader {
	--c: no-repeat linear-gradient(var(--gray-1) 0 0);
}

/* HTML: <div class="loader"></div> */
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 4rem;
	aspect-ratio: 1;
	--c: no-repeat linear-gradient(var(--gray-3) 0 0);
	background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
	background-size: 20% 100%;
	animation: l1 1s infinite ease;
}
@keyframes l1 {
	0% {
		background-size: 20% 100%, 20% 100%, 20% 100%;
	}
	33% {
		background-size: 20% 10%, 20% 100%, 20% 100%;
	}
	50% {
		background-size: 20% 100%, 20% 10%, 20% 100%;
	}
	66% {
		background-size: 20% 100%, 20% 100%, 20% 10%;
	}
	100% {
		background-size: 20% 100%, 20% 100%, 20% 100%;
	}
}

@media screen and (max-width: 150vmin) {
	html {
		font-size: 3.25vmin;
	}
}
