@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Frank+Ruhl+Libre:wght@300;400;700&display=swap");

html {
	font-size: 20px;
	font-weight: 800;
	line-height: 1.7em;
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: #0009;
	font-family: "Fira Sans", sans-serif;
}

p,
b,
i {
	padding-block: 0.5rem;
}

h1,
h2,
h3 {
	color: #fff;
	font-family: "Frank Ruhl Libre", serif;
}

h1 {
	padding-block: 1.5rem;
	font-size: 3rem;
}

h2 {
	padding-block: 0.5rem;
	font-size: 2rem;
}

h3 {
	padding-block: 0.75rem;
	font-size: 1.5rem;
}

a {
	color: #0009;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

button {
	padding: 1em 5em;

	color: #000;
	background-color: #fff;
	box-shadow: 0 0.25em #98918e;

	font-weight: 800;

	border: none;
	border-radius: 3em;
}

/* ---------- document spesific stylings ---------- */
body > header {
	display: grid;
	grid:
		"section aside" auto
		"nav nav" auto
		/ 1fr 1fr;
}

body > header > section {
	position: relative;
	grid-area: section;
}

body > header > section > img {
	position: absolute;

	bottom: 0;
	right: 5%;
	width: 18rem;
}

body > header > aside {
	grid-area: aside;

	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	align-items: stretch;
}

body > header > aside > * {
	flex-grow: 1;
}

footer {
	padding-bottom: 20rem;
	background-color: #777574;
}

footer > nav {
	padding: 1rem;
	background-color: #a9a19e;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

/* ---------- class spesific stylings ---------- */
.centered {
	padding: 5rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.centered > * {
	max-width: 40rem;
}

.red-back {
	background-color: #f17949;
}

.yellow-back {
	background-color: #fab131;
}

.cyan-back {
	background-color: #c7ddea;
}

.cyan-back h1,
.cyan-back h2,
.cyan-back h3 {
	color: #000;
}

.cyan-back b {
	color: #fff;
}

.gray-back {
	background-color: #a9a19e;
}

.light-gray-back {
	background-color: #ebebeb;
}

/* ---------- id spesific stylings ---------- */
#nav {
	grid-area: nav;

	padding-inline: 5rem;

	color: #8d8d8d;
	background-color: #ebebeb;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: stretch;
}

#nav > * {
	margin: 1rem;
	padding: 1rem;
}

#nav b {
	color: #000;
}

#plans {
	background: linear-gradient(0deg, #fab131 0%, #fab131 50%, #a9a19e 50%, #a9a19e 100%);

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	gap: 2rem;
}

#plans > * {
	width: 20rem;
	height: 28rem;

	padding: 1rem;

	color: #8d8d8d;
	background-color: #fff;
	border-radius: 0.5rem;
}

#plans > * * {
	text-align: center;
}

#plans > * h3 {
	padding-block: 1.5rem;
	color: #000;
}

#plans > * .image-container {
	position: relative;

	margin-top: -3rem;
	width: 100%;
	height: 15rem;

	border-radius: 0.5rem;
	overflow: hidden;
}

#plans > * .image-container img {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -35%) scale(0.4);
}

#process ol {
	counter-reset: count 0;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: calc(100vw / 3);
}

#process ol > * {
	position: relative;

	padding: 2rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#process ol > li {
	counter-increment: count 1;
}

#process ol > li::after {
	content: "0" counter(count, decimal);

	position: absolute;
	top: 2rem;
	left: 2rem;

	color: #0006;

	font-size: 3rem;
	font-family: "Frank Ruhl Libre", serif;
}
