:root {
	font-size: 3vmin;
}

* {
	margin: 0;
	padding: 0;
}

body > section {
	position: relative;
	min-height: 100vh;

	overflow: hidden;
}

img {
	display: block;
}

#mario {
	background: #00e1ff;
}

.cloud {
	transform: translate(0, 0);
}
