:root {
	font-size: 3vmin;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	margin: 0;
	padding: 0;
}

body > section {
	position: relative;
	min-height: 100vh;

	overflow: hidden;
}

img {
	display: block;
}

button {
	font-size: 1em;
}

#hover {
	background: lightblue;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#hover .hover-me {
	width: 8rem;
	height: 8rem;

	line-height: 0;

	color: #ffffff;
	background: pink;
	border: none;
	border-radius: 4rem;

	transition: background 0.5s linear, transform 0.3s 0.5s ease;

	cursor: pointer;
}

#hover .hover-me:hover {
	background: salmon;
	transform: rotate(360deg);
}

#mario {
	background: skyblue;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: stretch;
}

#mario .grass {
	min-height: 66vh;
	padding-bottom: 1rem;
	box-sizing: border-box;

	background: green;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: stretch;
}

#mario .road {
	position: relative;

	min-height: 33vh;
	box-sizing: border-box;

	background: gray;
	border-top: darkgray solid 1rem;
	border-bottom: darkgray solid 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}

#mario .lines {
	position: absolute;
	top: calc(50% - 0.25rem);
	left: 0;
	right: 0;

	border-top: whitesmoke dashed 0.5rem;
}

#mario .mario {
	position: absolute;
	top: -2vh;
	left: 0;

	width: 10vh;

	animation-name: drive;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

#mario .luigi {
	position: absolute;
	bottom: 4vh;
	left: 0;

	width: 10vh;

	animation-name: drive;
	animation-duration: 5s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;

	animation-direction: alternate;
}

@keyframes drive {
	from {
		transform: translateX(-10vh);
	}
	to {
		transform: translateX(100vw);
	}
}
