:root {
	font-size: 3vmin;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	margin: 0;
	padding: 0;
}

body > section {
	position: relative;
	min-height: 100vh;

	overflow: hidden;
}

img {
	display: block;
}

button {
	font-size: 1em;
}

#hover {
	background: lightblue;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#hover .hover-me {
	width: 8rem;
	height: 8rem;

	line-height: 0;

	color: #ffffff;
	background: pink;
	border: none;
	border-radius: 4rem;

	transition: background 0.5s linear, transform 0.3s 0.5s ease;

	cursor: pointer;
}

#hover .hover-me:hover {
	background: salmon;
	transform: rotate(360deg);
}

#mario {
	background: skyblue;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: stretch;
}

#mario .grass {
	min-height: 66vh;
	padding-bottom: 1rem;
	box-sizing: border-box;

	background: green;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: stretch;
}

#mario .road {
	position: relative;

	min-height: 33vh;
	box-sizing: border-box;

	background: gray;
	border-top: darkgray solid 1rem;
	border-bottom: darkgray solid 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}

#mario .lines {
	position: absolute;
	top: calc(50% - 0.25rem);
	left: 0;
	right: 0;

	border-top: whitesmoke dashed 0.5rem;
}

#mario .mario {
	position: absolute;
	top: -2vh;
	left: 0;

	width: 10vh;

	animation: drive 3s linear infinite both, jump 0.3s 1.2s ease infinite both;
}

#mario .luigi {
	position: absolute;
	bottom: 4vh;
	left: 0;

	width: 10vh;

	animation: drive 5s linear infinite both;
}

@keyframes drive {
	from {
		transform: translateX(-10vh);
	}
	to {
		transform: translateX(120vw);
	}
}

@keyframes jump {
	0% {
		top: -2vh;
	}

	50% {
		top: -3vh;
	}

	100% {
		top: -2vh;
	}
}

#mario .cloud {
	position: absolute;
}

#mario .cloud:first-of-type {
	top: 15vh;
	width: 25vh;

	opacity: 0.5;

	animation: wind 80s linear infinite reverse both;
}

#mario .cloud:last-of-type {
	top: 2vh;
	width: 35vh;

	opacity: 0.9;

	animation: wind 50s linear infinite reverse both;
}

@keyframes wind {
	from {
		left: -35vh;
	}
	to {
		left: 100%;
	}
}
