@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");

:root {
	--primary-color: #ffffff;
	--secondary-color: #fcf5fc;
	--accent-color-1: #0a846e;
	--accent-color-2: #9e6d52;
	--text-color: #000000;

	--red-color: #b93857;

	font-size: 14px;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

img {
	display: block;
	object-fit: contain;

	pointer-events: none;
	user-select: none;
}

hr {
	width: 14.4rem;
	height: 0.2rem;

	background-color: var(--accent-color-1);
	border: none;
	border-radius: 0.1rem;
}

input {
	padding: 0.75rem;

	border: none;
	outline: none;
	direction: none;

	border-radius: 0.3rem;
	box-shadow: 0.25rem 0.25rem 0.25rem #0002;
}

input[type="submit"],
button {
	font-size: 16px;
	padding: 0.5rem 1.5rem;

	border: none;
	color: var(--primary-color);
	background-color: var(--accent-color-1);
	border-radius: 0.55rem;
	box-shadow: none;

	font-weight: bold;

	cursor: pointer;
}

#menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 6rem;
	height: 6rem;
	padding: 0.75rem;

	background: none;
}

#menu img {
	width: 100%;
}

body {
	background-color: var(--secondary-color);
	text-align: center;

	font-family: "Maven Pro", sans-serif;
}

body > * {
	box-sizing: border-box;
	background-color: var(--primary-color);
}

nav {
	height: 3.75rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

nav > * {
	padding: 0.5rem;
}

#nav {
	display: none;

	position: relative;
	z-index: 10;
	box-shadow: 0 0.25rem 0.25rem #0004;
}

#nav > * {
	color: var(--accent-color-1);
	font-weight: bold;
}

header > * {
	color: var(--primary-color);

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
}

header img {
	height: 14rem;
}

#hero {
	min-height: 28rem;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	padding: 2.25rem 1.1rem 5rem 1.1rem;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	gap: 2.75rem;
}

main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
	color: var(--accent-color-1);
}

.figure-section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	gap: 0.75rem;
}

.figure-section > div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	gap: 0.75rem;
}

.figure-section h3 {
	font-weight: bold;
}

.figure-section button {
	margin: 0.5rem 0;
	font-size: 1.15rem;
}

.figure-section figure {
	width: 19.2rem;
	min-width: 19.2rem;
	height: 19.2rem;
	margin: 0.5rem;

	background-color: var(--accent-color-1);
	border-radius: 9.6rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.figure-section figure > img {
	height: 8.8rem;
}

.card-section {
	align-self: stretch;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	gap: 2.25rem;
}

.card-section ul {
	align-self: stretch;

	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;

	gap: 1rem;
}

.card-section ul > li {
	display: grid;

	box-shadow: 0.25rem 0.25rem 0.25rem #0004;

	grid-template:
		"figure figure figure figure" auto
		". type time ." 1.5rem
		". name remove ." 2rem
		/ 0.4rem 1fr 1fr 0.4rem;

	align-items: center;
}

.card-section ul > li > figure {
	grid-area: figure;
	height: 12rem;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.card-section ul > li > figure img {
	height: 6.5rem;
}

.card-section ul > li > h4 {
	grid-area: type;
	align-self: end;
	text-align: left;
	font-weight: bold;
}

.card-section ul > li > time {
	grid-area: time;
	align-self: end;

	font-size: 0.7rem;
	font-weight: bold;
	text-align: right;
}

.card-section ul > li > p {
	grid-area: name;
	font-size: 0.7rem;
	text-align: left;
}

.card-section ul > li > button {
	grid-area: remove;
}

.remove {
	width: 1rem;
	height: 1rem;
	margin-inline: auto 0.2rem;
	padding: 0;

	border-radius: 0;
	/*background-color: var(--red-color);*/
	background-color: transparent;
	background-image: url("./assets/Icons/trashcan.svg");

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.remove > span {
	display: none;
}

form {
	align-self: stretch;

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;

	gap: 0.75rem;
}

form > div {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

form label {
	text-align: left;
}

form input[type="submit"] {
	align-self: center;
}

/* Page specific styling */

.main-page {
	display: grid;

	grid-template:
		"hero hero" 27.5rem
		"seedling dig" 14rem
		/ 1fr 1fr;
}

.main-page > #hero {
	grid-area: hero;
}

.main-page > #seedling {
	grid-area: seedling;
	background-color: var(--accent-color-1);
}

.main-page > #dig {
	grid-area: dig;
	background-color: var(--accent-color-2);
}

.main-page > #seedling img,
.main-page > #dig img {
	height: 8.8rem;
}

#fotter-ish {
	color: var(--primary-color);

	background-image: url("./assets/Images/photo-1586281010691-f9da4be5b1f7.avif");

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: grid;

	grid-template:
		"figure" 28.5rem
		"div" 28.5rem
		/ auto;
}

#fotter-ish a {
	color: var(--primary-color);
}

#fotter-ish > figure {
	grid-area: figure;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#fotter-ish > figure img {
	height: 13.2rem;
}

#fotter-ish > div {
	grid-area: div;

	position: relative;
	padding: 1.5rem 1rem;

	background-color: #000a;

	display: grid;
	grid-template:
		"." 1fr
		"." auto
		/ auto;
	align-items: center;
}

#fotter-ish > div > address {
	margin-bottom: 0;

	font-size: 0.85rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#fotter-ish > div img {
	display: inline;
	height: 1.25rem;
	vertical-align: middle;
}

#filler {
	padding: 1rem;

	background-color: var(--accent-color-2);

	display: grid;
	grid-template:
		". ." 6rem
		". ." 6rem
		/ 1fr 1fr;

	gap: 0.75rem;
}

#filler > * {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}

.to-top {
	font-size: 0.75rem;
}

@media screen and (min-width: 875px) {
	#menu {
		display: none;
	}

	hr {
		width: 19rem;
	}

	input[type="submit"],
	button {
		padding: 1rem 3rem;
	}

	body {
		padding-bottom: 10rem;

		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	body > * {
		width: 62rem;

		box-shadow: 0 0 0.25rem #0004;
	}

	#nav {
		display: flex;
	}

	main {
		padding: 3rem 2rem 5rem 2rem;
	}

	.figure-section {
		flex-direction: row-reverse;

		gap: 3rem;
	}

	.figure-section > div {
		text-align: left;

		align-items: flex-start;
		gap: 1rem;
	}

	.figure-section > div:first-child button {
		align-self: flex-end;
	}

	.card-section ul {
		grid-template-columns: 1fr 1fr 1fr;

		gap: 1.6rem;
	}

	.card-section ul > li {
		grid-template:
			"figure figure figure figure" auto
			". type time ." 2.5rem
			". name remove ." 3.5rem
			/ 0.4rem 1fr 1fr 0.4rem;
	}

	.card-section ul > li > figure {
		height: 18.5rem;
	}

	.card-section ul > li > figure img {
		height: 12.8rem;
	}

	.card-section ul > li > time {
		font-size: 1rem;
	}

	.card-section ul > li > p {
		font-size: 1rem;
	}

	.remove {
		font-size: 1rem;

		width: auto;
		height: auto;
		margin-inline: auto 0;
		padding: 0.2rem 1rem;

		background: var(--red-color);
		border-radius: 0.55rem;
	}

	.remove > span {
		display: inline;
	}

	/* Page specific styling */

	.main-page {
		grid-template:
			"hero seedling" 16.9rem
			"hero dig" 16.9rem
			/ 1fr 1fr;
	}

	#fotter-ish {
		grid-template:
			"div figure" 36.9rem
			/ 1fr 1fr;
	}

	.add-plant {
		text-align: left;

		display: grid;
		grid-template:
			"header header" auto
			"plant date" auto
			"submit submit" auto
			/ 1fr 1fr;

		gap: 2rem;
	}

	.add-plant > h2 {
		grid-area: header;
		font-size: 32px;
	}

	.add-plant > .plant {
		grid-area: plant;
	}

	.add-plant > .date {
		grid-area: date;
	}

	.add-plant > input[type="submit"] {
		grid-area: submit;
		justify-self: center;
	}

	#filler {
		padding: 2rem;

		grid-template:
			". . . ." 20rem
			/ 1fr 1fr 1fr 1fr;

		gap: 1rem;
	}

	.to-top {
		padding-block: 0.5rem;
	}
}

@media screen and (min-width: 1000px) {
	input[type="submit"],
	button {
		font-size: 24px;
	}

	:root {
		font-size: 16px;
	}

	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 32px;
	}

	h4 {
		font-size: 24px;
	}

	.to-top {
		font-size: 1.5rem;
	}
}
