html {
	font-size: 2vmin;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	margin: 0;
	padding: 0;
}

button {
	padding: 0.5em 1em;
	font-size: 1em;

	color: #ffffff;
	background-color: #199bc9;
	border: none;
	border-radius: 0.5em;
	box-shadow: 0 0 1rem #00000088;

	outline: none;
	font-weight: bold;

	transform: scale(1);
	transition: transform 0.1s ease-in-out;
}

button:hover,
button:focus {
	transform: scale(1.1);
}

button:active {
	transform: scale(0.95);
}

body {
	min-height: 100vh;
}

body > header {
	padding: 1rem;
}

body > main {
	padding: 5rem;

	background-color: #eeeeee;
	box-shadow: 0 0 1rem #00000088 inset;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#list {
	padding: 1.5rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1.5rem;

	list-style: none;
}

#list > li {
	width: 15rem;
	padding: 1rem;

	background-color: #ffffff;
	border-radius: 1rem;
	box-shadow: 0 0 1rem #00000088;

	display: grid;
	grid:
		"image" 10rem
		"name" 1.5rem
		"tagline" 5rem
		/ 1fr;
	gap: 0.5rem;

	transform: scale(1);
	transition: transform 0.1s ease-in-out;
}

#list > li:hover {
	transform: scale(1.05);
}

#list > li > figure {
	grid-area: image;
}

#list > li > figure > img {
	display: block;
	width: 100%;
	height: 100%;
	margin-inline: auto;
	object-fit: contain;

	pointer-events: none;
	user-select: none;

	transform: rotate(0);
	transition: transform 0.1s ease-in-out;
}

#list > li:hover > figure > img {
	transform: rotate(5deg);
}

#list > li:nth-child(2n):hover > figure > img {
	transform: rotate(-5deg);
}

#list > li:nth-child(3n):hover > figure > img {
	transform: rotate(-5deg);
}

#list > li:nth-child(4n):hover > figure > img {
	transform: rotate(5deg);
}

#list > li > h1 {
	grid-area: name;
	font-size: 1.25rem;

	overflow: hidden;
	text-overflow: ellipsis;
}

#list > li > p {
	grid-area: tagline;

	overflow: hidden;
	text-overflow: ellipsis;
}

#modal {
	width: 50rem;
	height: 90vh;
	margin: auto;
	padding: 2rem;
	box-sizing: border-box;

	background-color: #ffffff;
	border: solid 0.3rem #ffffff;
	border-radius: 1rem;
	box-shadow: #00000088 0 0 1rem;

	outline: none;

	display: none;
	grid:
		"image image" 20rem
		"name name" auto
		"info tagline" auto
		"info description" auto
		"info tip-title" auto
		"info tip" auto
		"info ." auto
		/ 1fr 1fr;

	gap: 1rem;
}

#modal[open] {
	display: grid;
}

#modal > figure > img {
	display: block;
	width: 100%;
	height: 100%;
	margin-inline: auto;
	object-fit: contain;

	user-select: none;
}

#modal > table {
	border-spacing: 0.5rem;

	border: solid 0.2rem #ccc;
	border-radius: 1rem;
}

#modal > table > tbody > tr > th:first-child {
	text-align: right;
	vertical-align: top;

	font-weight: bold;
}

#modal > table > tbody > tr > th:last-child {
	text-align: left;
	vertical-align: top;

	font-weight: normal;
}

.image {
	grid-area: image;
}

.name {
	grid-area: name;
	text-align: center;
}

.tagline {
	grid-area: tagline;
}

.description {
	grid-area: description;
}

.tip-title {
	grid-area: tip-title;
}

.tip {
	grid-area: tip;
}

.info {
	grid-area: info;
	align-self: start;
}
