html {
	font-size: 2.5vmin;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

#list {
	max-width: 50rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
