html {
	font-size: 2vmin;
}

body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	margin: 0;
	padding: 0;
}

input {
	padding: 0.4em 0.5em;
	font-size: 1em;

	color: #000000;
	background-color: #ffffff;
	border: 0.2rem solid #199bc9;
	border-radius: 0.5em;

	outline: none;
}

input[type="submit"],
button {
	padding: 0.5em 1em;
	font-size: 1em;

	color: #ffffff;
	background-color: #199bc9;
	border: none;
	border-radius: 0.5em;

	outline: none;
	font-weight: bold;

	transform: scale(1);
	transition: transform 0.1s ease-in-out;
}

button {
	box-shadow: 0 0 1rem #00000088;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
	transform: scale(1.1);
}

input[type="submit"]:active,
button:active {
	transform: scale(0.95);
}

body {
	min-height: 100vh;
}

body > header {
	padding: 1rem;
}

body > main {
	padding: 5rem;

	background-color: #eeeeee;
	box-shadow: 0 0 1rem #00000088 inset;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

#search-form {
	width: 50rem;
	padding: 1rem 2rem;

	background-color: #ffffff;
	border-radius: 1rem;
	box-shadow: 0 0 1rem #00000088;

	display: grid;
	grid:
		"beer_name-label beer_name-label beer_name-label beer_name-label beer_name-label" auto
		"beer_name beer_name beer_name beer_name beer_name" auto
		". . . . ." 0.5rem
		"brewed_before-label . abv_gt-label . hops-label" auto
		"brewed_before . abv_gt . hops" auto
		". . . . ." 0.5rem
		"brewed_after-label . abv_lt-label . malt-label" auto
		"brewed_after . abv_lt . malt" auto
		". . . . ." 1rem
		"search search search search search" auto
		/ 1fr 1rem 1fr 1rem 1fr;
}

#search-form > label {
	margin-left: -0.5rem;
}

#search-form > input[type="submit"]:hover,
#search-form > input[type="submit"]:focus {
	transform: scale(1.04);
}

#search-form > input[type="submit"]:active {
	transform: scale(0.96);
}

#beer_name-label {
	grid-area: beer_name-label;
}

#beer_name {
	grid-area: beer_name;
}

#brewed_before-label {
	grid-area: brewed_before-label;
}

#brewed_before {
	grid-area: brewed_before;
}

#brewed_after-label {
	grid-area: brewed_after-label;
}

#brewed_after {
	grid-area: brewed_after;
}

#abv_gt-label {
	grid-area: abv_gt-label;
}

#abv_gt {
	grid-area: abv_gt;
}

#abv_lt-label {
	grid-area: abv_lt-label;
}

#abv_lt {
	grid-area: abv_lt;
}

#hops-label {
	grid-area: hops-label;
}

#hops {
	grid-area: hops;
}

#malt-label {
	grid-area: malt-label;
}

#malt {
	grid-area: malt;
}

#search {
	grid-area: search;
}

#list {
	padding: 1.5rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1.5rem;

	list-style: none;
}

#list > li {
	width: 15rem;
	padding: 1rem;

	background-color: #ffffff;
	border-radius: 1rem;
	box-shadow: 0 0 1rem #00000088;

	display: grid;
	grid:
		"image" 10rem
		"." 1rem
		"name" 2rem
		"tagline" 5rem
		/ 1fr;

	transform: scale(1);
	transition: transform 0.1s ease-in-out;
}

#list > li:hover {
	transform: scale(1.05);
}

#list > li > figure {
	grid-area: image;
}

#list > li > figure > img {
	display: block;
	width: 100%;
	height: 100%;
	margin-inline: auto;
	object-fit: contain;

	pointer-events: none;
	user-select: none;

	transform: rotate(0);
	transition: transform 0.1s ease-in-out;
}

#list > li:hover > figure > img {
	transform: rotate(5deg);
}

#list > li:nth-child(2n):hover > figure > img {
	transform: rotate(-5deg);
}

#list > li:nth-child(3n):hover > figure > img {
	transform: rotate(-5deg);
}

#list > li:nth-child(4n):hover > figure > img {
	transform: rotate(5deg);
}

#list > li > h1 {
	grid-area: name;
	font-size: 1.25rem;

	overflow: hidden;
	text-overflow: ellipsis;
}

#list > li > p {
	grid-area: tagline;

	overflow: hidden;
	text-overflow: ellipsis;
}

#modal {
	width: 50rem;
	height: 90vh;
	margin: auto;
	padding: 2rem;
	box-sizing: border-box;

	background-color: #ffffff;
	border: solid 0.3rem #ffffff;
	border-radius: 1rem;
	box-shadow: #00000088 0 0 1rem;

	outline: none;

	display: none;
	grid:
		"image image image" 20rem
		". . ." 1rem
		"name name name" auto
		". . ." 0.5rem
		"info . tagline" auto
		"info . ." 0.5rem
		"info . description" auto
		"info . ." 1rem
		"info . tip-title" auto
		"info . ." 0.5rem
		"info . tip" auto
		"info . ." auto
		/ 1fr 1rem 1fr;
}

#modal[open] {
	display: grid;
}

#modal > figure > img {
	display: block;
	width: 100%;
	height: 100%;
	margin-inline: auto;
	object-fit: contain;

	user-select: none;
}

#modal > table {
	border-spacing: 0.5rem;

	border: solid 0.2rem #ccc;
	border-radius: 1rem;
}

#modal > table > tbody > tr > th:first-child {
	text-align: right;
	vertical-align: top;

	font-weight: bold;
}

#modal > table > tbody > tr > th:last-child {
	text-align: left;
	vertical-align: top;

	font-weight: normal;
}

.image {
	grid-area: image;
}

.name {
	grid-area: name;
	text-align: center;
}

.tagline {
	grid-area: tagline;
}

.description {
	grid-area: description;
}

.tip-title {
	grid-area: tip-title;
}

.tip {
	grid-area: tip;
}

.info {
	grid-area: info;
	align-self: start;
}
