@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	font-size: 2vmin;
}

body {
	background-color: #ededed;
	min-height: 100vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
}

.calendar {
	font-family: "PT Sans", sans-serif;

	color: #000;

	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 0.5rem 1rem #0002;

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.calendar button:not(.material-icons) {
	font-family: "PT Sans", sans-serif;
}

.calendar button {
	font-size: 1em;

	background-color: transparent;
	border: none;

	cursor: pointer;
}

.calendar * {
	user-select: none;
}

.calendar > header {
	height: 4rem;

	color: #fff;
	background-color: #fe2c2c;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.calendar > header *.material-icons {
	color: #fff;
	font-size: 1.5rem;
}

.calendar > header > button {
	width: 4rem;
	height: 100%;
}

.calendar > header > h1 {
	font-weight: normal;
}

.calendar > main {
	background-color: #e1e1e1;

	width: 28rem;
	height: 22rem;

	display: grid;
	grid: 1fr repeat(5, 2fr) / repeat(7, 1fr);
	gap: 0.07rem;
}

.calendar > main > * {
	position: relative;

	background-color: #ffffff;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.calendar > main > *.mon {
	grid-column: 1 / span 1;
}

.calendar > main > *.tue {
	grid-column: 2 / span 1;
}

.calendar > main > *.wed {
	grid-column: 3 / span 1;
}

.calendar > main > *.thu {
	grid-column: 4 / span 1;
}

.calendar > main > *.fri {
	grid-column: 5 / span 1;
}

.calendar > main > *.sat {
	grid-column: 6 / span 1;
	background-color: #f2f2f2;
}

.calendar > main > *.sun {
	grid-column: 7 / span 1;
	background-color: #f2f2f2;
}

.calendar > main > *.label {
	grid-row: 1 / span 1;
	font-size: 0.8rem;
	background-color: #cccccc;
}

.calendar > main > *.week1 {
	grid-row: 2 / span 1;
}

.calendar > main > *.week2 {
	grid-row: 3 / span 1;
}

.calendar > main > *.week3 {
	grid-row: 4 / span 1;
}

.calendar > main > *.week4 {
	grid-row: 5 / span 1;
}

.calendar > main > *.week5 {
	grid-row: 6 / span 1;
}

.calendar > main > *.today > * {
	color: #fff;
	z-index: 1;
}

.calendar > main > *.today::before {
	position: absolute;
	content: " ";

	top: 0.75rem;
	left: 0.75rem;
	bottom: 0.75rem;
	right: 0.75rem;

	background-color: #fe2c2c;
	border-radius: 50%;
}

.calendar > main > *.gray > * {
	color: #a6a6a6;
}
