body {
	min-height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

* {
	padding: 0;
	margin: 0;
}

input,
input[type="checkbox"]::after {
	box-sizing: border-box;

	min-width: 2.75rem;
	min-height: 2.75rem;
	padding: 0.5rem;
	font-size: 1em;

	color: #994538;
	background-color: #ffffff88;
	border-radius: 0.5rem;

	border: none;
	outline: none;
}

input[type="text"] {
	flex-grow: 1;
}

input::placeholder {
	color: #99453888;
}

input[type="button"],
input[type="submit"],
input[type="checkbox"]::after {
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.25rem;

	text-align: center;

	transition: 0.15s ease-in-out;
	transform: scale(1);
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="checkbox"]:hover::after {
	transform: scale(1.15);
}

input[type="button"]:active,
input[type="submit"]:active {
	color: #ffffff88;
	background-color: #994538;
}

input[type="checkbox"] {
	position: relative;
	appearance: none;

	background: none;
}

input[type="checkbox"]::after {
	content: " ";

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	color: #ffffffcc;
	border: #994538 solid 0.15rem;
}

input[type="checkbox"]:checked:after {
	content: "✓";
	background-color: #994538;
}

.todo {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
}

#background {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-image: url("./assets/images/selective-focus-photography-of-cherry-blossoms.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	filter: blur(0.25rem);
}

#todo {
	width: 30rem;
	padding: 1rem;

	color: #994538;
	background-color: #d5c0b5aa;
	border-radius: 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 0.5rem;
}

#todo > h1 {
	text-align: center;
}

#todo-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	list-style-type: none;
}

.todo-item {
	padding-block: 0.25rem;

	display: grid;
	gap: 0 0;
	grid:
		"completed . text remove" auto
		". . date date" auto
		/ auto 0.5rem 1fr auto;
}

.todo-item > .completed {
	grid-area: completed;
}

.todo-item > .completed:checked ~ input[type="text"],
.todo-item > .completed:checked ~ .date {
	text-decoration: line-through;
}

.todo-item > .completed:not(:checked) ~ .remove {
	min-width: 0;
	width: 0;
	padding: 0;
}

.todo-item > .completed:checked ~ .remove {
	margin-left: 0.5rem;
}

.todo-item > .text {
	grid-area: text;
}

.todo-item > .remove {
	grid-area: remove;

	overflow: hidden;
	transition: 0.15s;
}

.todo-item > .date {
	grid-area: date;

	margin-top: -0.25rem;
	padding-inline: 0.5rem;

	text-align: right;
}
