body {
	min-height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

* {
	padding: 0;
	margin: 0;
}

input {
	padding: 0.5rem;
	font-size: 1em;

	color: #994538;
	background-color: #ffffff88;
	border-radius: 0.5rem;

	border: none;
	outline: none;
}

.todo {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
}

.todo > input {
	box-sizing: border-box;

	min-width: 2.75em;
	min-height: 2.75em;
}

.todo > input[type="text"] {
	flex-grow: 1;
}

.todo > input::placeholder {
	color: #99453888;
}

.todo > input[type="button"],
.todo > input[type="submit"] {
	font-weight: bold;
}

.todo > input[type="checkbox"] {
	position: relative;
	appearance: none;

	background: none;
}

.todo > input[type="checkbox"]::after {
	content: " ";

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0.5rem;

	color: #ffffffaa;
	background-color: #ffffff88;
	border: #994538 solid 0.15rem;
	border-radius: 0.5rem;

	text-align: center;
}

.todo > input[type="checkbox"]:checked:after {
	content: "✓";

	background-color: #994538;
}

.todo > input[type="checkbox"]:not(:checked) ~ .remove {
	display: none;
}

.todo > input[type="checkbox"]:checked ~ input[type="text"] {
	text-decoration: line-through;
}

#background {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-image: url("./assets/images/selective-focus-photography-of-cherry-blossoms.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	filter: blur(0.25rem);
}

#todo {
	width: 30rem;
	padding: 1rem;

	color: #994538;
	background-color: #d5c0b5aa;
	border-radius: 1rem;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 0.5rem;
}

#todo > h1 {
	text-align: center;
}

#todo-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;

	list-style-type: none;
}

#todo-list > li {
	padding-block: 0.25rem;

	transition: transform 0.25s ease-in-out;
}
