
body {
	margin:		0;
	padding:	0;
	
	font-family: 'Roboto', sans-serif;
	
	background-color:	#444;
	
	display:		flex;
	flex-direction:	column;
	align-items:	center;
}

p , b , h1 , h2 {
	margin:	0 0 .5em 0;
}

ul , ol {
	margin:	0 0 .5em 0;
}

#background {
	
	position:	fixed;
	z-index:	-1;
	height:		100vh;
	width:		100vw; 
	
	/* License: https://commons.wikimedia.org/wiki/File:The_World_Factbook_-_Algeria_-_Flickr_-_The_Central_Intelligence_Agency_(7).jpg */
	background-image:		url( "Background.jpeg" );
	background-position:	center;
	background-repeat:		no-repeat;
	background-size:		cover;
	
	filter:	brightness( 50% ) blur( .25rem );
	
}

#container {
	width:	50em;
	margin:	10em;
	
	border-radius:	3em;
	box-shadow:	0 0 1.5em 1.5em #00000088;
}

/* Fixing weird bottom gap and anti aliasing artifact from rounded border. */
#container > header {
	background-color: #ffffff;
	border-top-left-radius:		4em;
	border-top-right-radius:	4em;
}

#container > header > img {
	width:	100%;
	border-top-left-radius:		3em;
	border-top-right-radius:	3em;
}

#container > main {
	
	padding:	1em 3em;
	
	background-color:	#ffffff;
	
	display:	grid;
	grid-template-columns:	repeat( 2 , 1fr );
	grid-template-rows:		repeat( 3 , auto );
	
	grid-column-gap:	1em;
	grid-row-gap:		1em;
	
	grid-template-areas: 
		"title	title"
		"likes	dislikes"
		"frens	befriening";
	
}

#container > main > section {
	display:			flex;
	flex-direction:		column;
	justify-content:	flex-start;
	align-items:		flex-start;
}

#container > footer {
	padding:	1em;
	
	background-color:	#ffffff;
	border-bottom-left-radius:	3em;
	border-bottom-right-radius:	3em;
}

#container > footer > address {
	display:			flex;
	flex-direction:		row;
	justify-content:	space-evenly;
	align-items:		center;
}



#title {
	grid-area:	title;
}


#likes , #dislikes , #befrening {
	padding:		1.5em;
	border-radius:	2em;
}

#likes {
	grid-area:	likes;
	
	color:				#294300;
	background-color:	#b9ff5e;
}

#dislikes {
	grid-area:	dislikes;
	
	color:				#6e0037;
	background-color:	#ffdae4;
}

#frens {
	grid-area:		frens;
	align-items:	center !important;
}

#befrening {
	grid-area:	befriening;
	
	color:				#00433a;
	background-color:	#85ffe8;
}



#frens > img {
	width:			100%;
	margin-bottom:	.5em;
	border-radius:	2em;
}