
body {
	font-family: 'Roboto', sans-serif;
	
	padding:			10em;
	background-color:	#eee;
	
	display:		flex;
	flex-direction:	column;
	align-items:	center;
}

p , b , h1 , h2 {
	margin:	0 0 .5em 0;
}

ul , ol {
	margin:	0 0 .5em 0;
}

#container {
	width:	50em;
	
	border-radius:	3em;
	overflow:		hidden;
	
	background-color:	#ffffff;
	box-shadow: 0em 0em 1em 1em #00000044;
}

#container > header > img {
	width:	100%;
}

#container > main {
	
	padding:	1em 3em;
	
	display:	grid;
	grid-template-columns:	repeat( 2 , 1fr );
	grid-template-rows:		repeat( 3 , auto );
	
	grid-column-gap:	1em;
	grid-row-gap:		1em;
	
	grid-template-areas: 
		"title	title"
		"likes	dislikes"
		"frends	befriending";
	
}

#container > main > section {
	display:			flex;
	flex-direction:		column;
	justify-content:	flex-start;
	align-items:		flex-start;
}

#container > main > section#frends {
	align-items:	center;
}

#container > footer {
	padding:	1em;
}

#container > footer > address {
	display:			flex;
	flex-direction:		row;
	justify-content:	space-around;
	align-items:		center;
}



#title {
	grid-area:	title;
}


#likes , #dislikes , #befrending {
	padding:		1.5em;
	border-radius:	2em;
}

#likes {
	grid-area:	likes;
	
	color:				#294300;
	background-color:	#b9ff5e;
}

#dislikes {
	grid-area:	dislikes;
	
	color:				#6e0037;
	background-color:	#ffdae4;
}

#frends {
	grid-area:	frends;
}

#befrending {
	grid-area:	befriending;
	
	color:				#00433a;
	background-color:	#85ffe8;
}



#frends > img {
	width:			100%;
	margin-bottom:	.5em;
	border-radius:	2em;
}